.container {
  display: flex;
  background-color: var(--editor-back, #ccc);
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  gap: 10px;
}

.container_button {
  border: none;
  background-color: var(--editor-back, #ccc);
  width: fit-content;
  padding: 5px;
  border-radius: 50%;
  color: var(--editor-inactive, #999);

  transition: color 0.5s, box-shadow 0.3s, transform 0.3s;
}

.container_button:hover {
  color: var(--editor-primary, #50a);
  box-shadow: 0px 0px 10px #0005;
}

.container_button:active {
  transform: scale(0.8);
}
